// Import the colors sass file.
@import "./SASS/variables/color";

// Import the global rules file.
@import "./SASS/layout/global-rules";

// Variables:

$top-bottom-padding: 5rem;
$left-right-padding: 1rem;
$section-height: 20vh;
$menu-height: 5vh;

// Mixins:

@mixin flex() {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

@mixin menuButton($height, $margin) {
  width: 45%;
  height: #{$height};
  border: none;
  background-color: transparent;
  font-size: larger;
  margin-bottom: $margin;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  color: #{$medium-gray};
  cursor: pointer;
}

@mixin menuDesktop($width, $height) {
  height: #{$height};
  width: #{$width};
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 1rem;
  box-shadow: 0 0 10px 0px rgba(0, 0, 0, 0.218);
  background-color: #{$almost-white};
  margin-left: 0.8rem;
  cursor: pointer;
}

/* Images animation */

@keyframes image-animation {
  0% {
    left: 0;
    top: 0;
  }
  25% {
    left: 420px;
    top: 0;
  }
  49% {
    transform: rotate(90deg);
  }
  50% {
    left: 420px;
    top: 580px;
  }
  51% {
    transform: rotate(90deg);
  }
  75% {
    left: 420px;
    top: 0;
  }

  100% {
    left: 0;
    top: 0;
  }
}

body {
  background-color: #{$almost-white};
}

/* Starting the header styles for mobile screens */

.header {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  color: #{$medium-gray};
}

// .header .sections-wrapper {
//   position: relative;
//   z-index: 100;
//   width: 70%;
//   height: 100vh;
// }

.header .sections {
  width: 70%;
  height: 100vh;
  position: fixed;
  right: 0;
  top: 0;
  background-color: #{$almost-white};
  padding: #{$top-bottom-padding} #{$left-right-padding};
  display: flex;
  flex-direction: column;
  display: none;
  z-index: 10;
}

.burger-menu {
  cursor: pointer;
}

.header .sections .close-menu {
  position: fixed;
  transform: translate(12rem, -3rem);
  cursor: pointer;
}

.wrapper {
  width: 30%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.73);
  display: none;
}

.arrow-up {
  display: none;
}

.features .features-menu div {
  width: 55%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.features button,
.company button {
  @include menuButton(#{$menu-height}, 1rem);
}

.features .features-btn:hover,
.company .company-btn:hover {
  color: #{$almost-black};
}

.features .features-btn img,
.company .company-btn img {
  width: 1rem;
}

.career,
.about {
  @include menuButton(4rem, -20px);
}

.header .career:hover,
.header .about:hover {
  color: #{$almost-black};
}

.features .features-menu,
.company .company-menu {
  height: 15vh;
  @include flex();
  margin-left: 2rem;
  display: none;
}

.far-buttons {
  width: 100%;
  height: 12vh;
  @include flex();
  align-items: center;

  button {
    width: 70%;
    height: 5vh;
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: #{$medium-gray};
  }

  & > button + button {
    border: 1px solid black;
    border-radius: 2rem;
  }

  & > button:hover,
  & > button + button:hover {
    color: #{$almost-black};
  }
}

/* Ending  the header styles for mobile screens */

/* Starting  the main content styles for mobile screens */

.container {
  .main-content {
    position: relative;
    width: 100%;
    height: 90vh;
    display: grid;
    grid-template-rows: 1fr 1fr auto;
    grid-template-columns: 1fr;
    z-index: 0;
    .main-content-info {
      position: relative;
      z-index: 0;
      grid-area: 2 / 1 / 3 / 2;
      text-align: center;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      align-items: center;
      .title {
        font-size: xx-large;
      }
      .paragraph {
        font-size: larger;
        letter-spacing: -1px;
        color: #{$medium-gray};
      }
      button {
        width: 40%;
        height: 3.5rem;
        background-color: #{$almost-black};
        color: #{$almost-white};
        font-size: larger;
        border: none;
        border-radius: 1rem;
      }
      button:hover {
        border: 1px solid #{$almost-black};
        background-color: transparent;
        color: #{$almost-black};
      }
    }
    .images {
      grid-area: 1 / 1 / 2 / 2;
      margin-top: 1rem;
      .hero-image-mobile {
        width: 100%;
      }
      .hero-image-desktop {
        display: none;
      }
    }
    .links {
      grid-area: 3 / 1 / 4 / 2;
    }
  }
}

/* Ending  the main content styles for mobile screens */

/* Starting the header styles for desktop screens */

@media only screen and (min-width: 786px) {
  .container .header {
    width: 100%;
    height: 8vh;
    padding: 2rem;
    color: #{$medium-gray};
  }

  .header .sections {
    width: 80%;
    height: 3vh;
    position: fixed;
    left: 10%;
    top: 0;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .header .sections .features button,
  .header .sections .company button {
    width: 10rem;
    height: 3rem;
    background-color: transparent;
    color: #{$medium-gray};
    border: none;
    font-size: medium;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;
    // transform: translateY(-1rem);
    margin-bottom: 0;
  }

  .header .sections .features button img,
  .header .sections .company button img {
    margin-left: 1rem;
  }

  .header .sections .features .features-menu {
    @include menuDesktop(9rem, 12rem);
    display: none;
  }

  .header .sections .features .features-menu div {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-size: small;
  }

  .header .sections .company .company-menu {
    @include menuDesktop(7rem, 10rem);
    display: none;
  }

  .header .sections .company .company-menu p {
    font-size: small;
    padding-left: 1.5rem;
  }

  .header .career,
  .header .about {
    width: 10rem;
    height: 3rem;
    background-color: transparent;
    border: none;
    color: #{$medium-gray};
    font-size: medium;
    text-align: left;
    transform: translateY(-0.5rem);
  }

  .header .career {
    width: 2rem;
  }

  .far-buttons {
    flex-direction: row;
    width: 40%;
    display: flex;
    justify-content: flex-end;
  }

  .far-buttons button {
    width: 40%;
    height: 2rem;
    border: none;
    color: #{$medium-gray};
    background-color: transparent;
    font-size: medium;
    transform: translateY(-2.2rem);
  }

  .far-buttons > button + button {
    border: 1px solid #{$medium-gray};
    border-radius: 1rem;
  }

  .header .sections .close-menu,
  .header .burger-menu {
    display: none;
  }

  .wrapper {
    display: none;
  }
}

/* Ending the header styles for desktop screens */

/* Starting  the main content styles for desktop screens */

@media only screen and (min-width: 786px) {
  .container {
    .main-content {
      grid-template-columns: 1fr auto;
      grid-template-rows: 1fr;
      padding: 0 10rem;
      .main-content-info {
        grid-area: 1 / 1 / 2 / 2;
        // height: 70vh;
        padding: 5rem 0;
        text-align: left;
        align-items: flex-start;
        justify-content: center;
        gap: 3rem;
        .title {
          max-width: 540px;
          font-size: 5rem;
        }
        .paragraph {
          max-width: 520px;
          font-size: 1.5rem;
          line-height: 2rem;
        }
        button {
          width: 180px;
          height: 3rem;
        }
      }
      .images {
        grid-area: 1 / 2 / 2 / 3;
        padding: 2rem 0;
        position: relative;
        &::before {
          content: "";
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 10;
          width: 3rem;
          height: 1rem;
          background-color: purple;
          border-radius: 0.5rem;
          animation: image-animation 5s linear infinite;
        }
        .hero-image-desktop {
          width: 100%;
          height: 75vh;
          display: block;
        }
        .hero-image-mobile {
          display: none;
        }
      }
    }
  }
}

/* Ending  the main content styles for desktop screens */
